body {
  margin: 0;
  padding: 0;
  font-family: 'sans-serif';
  background: linear-gradient(to right, #a66dbeb5, #707ec3); /* New gradient background */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  padding: 40px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  width: 400px;
  max-width: 90%;
}

h1 {
  color: #6a41bc96;
  margin-bottom: 30px;
  font-size: 2.2em;
  font-weight: bold;
  text-shadow: 1px 1px 2px #fff;
}

.WeatherForm {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between input and button */
  margin-bottom: 20px;
}

.WeatherForm input {
  padding: 10px;
  font-size: 1em;
  border: 2px solid #6a41bc85;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

.WeatherForm input:focus {
  border-color: #6a41bcc4;
}

.WeatherForm button {
  background-color: #6a41bca8;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.WeatherForm button:hover {
  background-color: #6a41bcc4;
}

.error {
  color: #d9534f;
  font-weight: bold;
  margin-top: 10px;
}

.WeatherDisplay {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
  text-align: left;
  width: 100%;
}

.WeatherDisplay h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
  color: #4a90e2;
}

.WeatherDisplay p {
  margin: 5px 0;
  font-size: 1.1em;
  color: #333;
}

button {
  background-color: #6a41bca8;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6a41bcc4;
}

button:focus {
  outline: none;
}
